<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topbar</title>
</head>

<div class="topbar">
    <!-- Botão menu -->
    <button id="btnToggleMenu"
    class="menu-button">☰</button>

    <!-- Logo -->
    <img src="../assets/img/logo.png" alt="Logo" class="logo" />

    <div class="spacer"></div>

    <!-- Nome do usuário -->
    <span class="user-label">Usuário: admin</span>
</div>
</body>
</html>
